<!--<h1>Welcome Index</h1>-->
<!--<%#= form_for :details ,:html => {:onsubmit => "return false"} do  |f| %>-->
<%#= text_field_tag :title ,nil,:placeholder => "Title" %>
<%#= text_field_tag :description  ,nil,:placeholder => "Description" %>
<%#= text_field_tag :first_name ,nil,:placeholder => "First Name" %>
<%#= text_field_tag :last_name ,nil,:placeholder => "Last Name" %>
<!--<%#= submit_tag "GO", :id => "display_attendee_details" %>-->
<!--<%# end %>-->

<!--<script type="text/javascript">-->

<!--</script>-->
        <!--[if lt IE 7]>
            <!--<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>-->
		<div class="DLP">
			<div class="bg_hold">
              <img class="bg1" src="assets/hme_bg.png">
            </div><!--bg_hold-->
            <div class="wrapper">
            	<div class="dlp_in t_bg">
                	<div class="w_100">
                    	<div class="d_logo"><a href="#"><img src="assets/logo_2.png"></a></div>
                        <div class="d_date">July 18, 2014 - Chicago, IL</div>
                    </div><!--w_100-->
                    <div class="t_icons w_100">
                    	<a href="#"><img src="assets/plane.png"></a>
                        <a href="#"><img src="assets/car.png"></a>
                        <a href="#"><img src="assets/agenda-2.png"></a>
                    </div><!--t_icons-->
                  <%= form_for :attendee, :url => "attendee_details/display_user_data" do |f| %>
                  <div class="fields w_100">

                      <%= f.text_field "firstname" , {:placeholder=>"firstname"} %>
                      <%= f.text_field "lastname" , {:placeholder=>"lastname"} %>

                    	<!--<input type="text" placeholder="firstname">-->
                        <!--<input type="text" placeholder="lastname">-->
                    </div><!--fields-->
                    <div class="login_btn w_100">
                    <%= f.submit "Login", :style => "background: linear-gradient(to bottom, #2D67B2 0%, #20579F 50%, #154A8E 100%) repeat scroll 0 0 transparent;border: medium none !important;border-radius: 10px 10px 10px 10px;color: #FFFFFF;display: inline-block;font-size: 20px;height: 37px;line-height: 37px;outline: medium none;text-decoration: none;width: 365px;" %>
                      <!--<a href="" id="submit_user_data">login</a>-->
                        <p>Powered by:DLP Innovation</p>
                    </div><!--login_btn -->
                      <% end %>
                </div><!--dlp_in-->
                <div class="fotnot w_100">
					© 2014 Distance Learning Providers | All Rights Reserved
                </div><!--fotnot-->
            </div><!--wrapper ends-->
        </div><!--DLP-->

        <script type="text/javascript">
            $("#submit_user_data").click(function(){
                var first_name = $("#firstname").val()
                var last_name = $("#lastname").val()
                $.ajax({
                                    url:'/attendee_details/display_user_data?first_name=' + first_name + "&last_name=" + last_name,
                                    type:'get',
                                    dataType:'html',
                                    processData:false,
                                    success:function (data) {
                                        alert(data)
                                        if (data == "not") {
                                            window.location.href = '/sign_in';
                                        }
                                        else {
                                            window.location.href = '/attendee_details/attendee_home';
                                        }
                                    },
                                    error:function (data) {
                                    }
                                });

            })
        </script>




        <!--<script src="js/plugins.js"></script>-->
